version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: webblog-backend-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_USERNAME: devuser
      DB_PASSWORD: 1234
      DB_DATABASE: blog
      JWT_SECRET: devsecret
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: blog-postgres
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: blog
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: